body {
  background-color:#F5CBA7;
  text-align: center;
  padding-right: 100pt;
  padding-left: 100pt;
  font-family: Gill Sans, sans-serif;
}

h2{
  color:#800000;
  text-align: center;
  font-size: 32px;
}

h3{
  color:#355e3b;
  text-align: left;
  font-size: 26px;
}

p {
  color:#800000;
  font-size: 18px; 
}

img {
  max-width: 50%;
}

footer{
  font-weight: bold;
}

.header {
  overflow: hidden;
  background-color:#F7EC7F;
  border-radius: 10px; 
  padding: 20px 20px;
}

.header a.pagename {
  text-decoration: none;
  font-size: 64px;
  font-style: inherit;
  font-weight: bold;
}

.menu{
  float: right;
}

.header a {
  text-align: center;
  float: left;
  color: #800000;
  padding: 30px;
  font-size: 18px; 
  line-height: 2px;
  border-radius: 6px;
}
.header a:hover {
  color: #355e3b;
  text-decoration: underline;
}
.header a.active {
  background-color: #F5CBA7;
  color: #355e3b;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #F7EC7F;
}

.hyperlink{
  color: #800000;
}
