body {
  background-color:#F5CBA7;
  text-align: center;
}

h1 {
  color: maroon;
  font-weight: bold;
  font-size: 40pt;
  font-family:inherit;
}

h3{
  color:maroon;
}

h2{
  color:maroon;
  text-align: left;
}

p {
  color: maroon;
  line-height: 2;
  font-style: inherit;
  font-size: 14pt;
}

a {
  color: green;
  line-height: 2;
  font-style:normal;
  font-size: 14pt
}

img {
  max-width: 60%;
  height: 60%;
}

.header{
  overflow: hidden;
  background-color: #F5CBA7;
  padding: 20px 10px;
}

/* .overflow{
    overflow:hidden;
}

.imgbox {
            display: grid;
            height: 60%;
        }
.center-fit {
            max-width: 60%;
            max-height: 100vh;
            margin: auto;
        } */

/* h1 {color : #ff0000; font-family:arial}
p {font-size:18px }
p.center {font-size:16px; text-align:center}
.quoted {font-style: italic; font-size:14pt;text-indent:1in }
A {font-family:arial; font-size:20px; color : #234567}
a:hover {color : gray}
p {
  color: red;
}
